.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.body-wrapper{
  max-width: 1280px;
  margin: 0 auto;
}

html body {
  font-family: "Proxima Nova", "proxima-nova", Arial, sans-serif;
  color: #544a36;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "ff-good-headline-web-pro-con", "Arial Narrow", Arial, sans-serif;
  font-weight: 500;
  font-variant: normal;
  font-style: normal;
  color: #000;
}
hr {
  border-top:1px solid #ccc;
}
.fa{
  color:#000;
}
.video{
  min-width:100%;
  height:27em;
}
.caption{
  font-family: "adobe-caslon-pro", "Garamond", "Times New Roman", serif;
  font-style: italic;
  font-weight: 600;
}
.main_caption{
  color:#FFF;
  font-size:2.5em;
}
.section_caption{
  color:#000;
  font-size:3em;
  margin-top:0;
  margin-bottom:.4em;
}
.item_caption{
  color:#000;
  font-size:1.5em;
  margin-top:0;
  margin-bottom:.4em;
}
.featured_item{
  font-size:2.25em ;
}
.section-break{
  width: 400px;
  color: black;
  height: 2px;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  max-width: 1280px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}
/*This may be temporary*/
.head-grp{
  background-color: #404040;
}
.navbar{
  margin: 0;
  border: 0;
  border-radius: 0;
  border-bottom: 3px solid #FFFFFF;
}
.navbar-default{
  background-color: #404040;
}

.img-grp{
   position: absolute;
}
.small_logo{
  vertical-align: bottom;
  width:2.25em;
  height:2.25em;
}
.head-text{
   position: relative;
   padding-top: 7%;
   text-align: center;
   color:#FFF;
}
.head-text>p{
  margin: 0;
  font-size: 5em;
  color: #FFFFFF;
}
.head-text>h1{
  text-transform: uppercase; /*Not working*/
  font-size: 7em;
  color: #FFFFFF;
}
.head-text>h1>span {
  color: #dda037;
}

.content-wrapper{
  margin-top: 157px;
}

/* Custom page footer */
.footer {
  max-width: 1280px;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  background-color: #404040;
}

.container-narrow > hr {
  margin: 30px 0;
}

.row{
  margin: 0;
}
.bar-wrapper{
  border-left: 3px solid #FFFFFF;
  border-right: 3px solid #FFFFFF;
  padding: 0px;
}
.section-bar{
  background-color: #dda037;
  color: #FFFFFF;
  border-top: 3px solid #FFFFFF;
  border-bottom: 3px solid #FFFFFF;
  height: 50px;
  text-align: center;
  font-size: 2em;
}
.sub-bar{
  height: 44px;
}
.sub-bar-center{
  border-left: 3px solid #FFFFFF;
  border-right: 3px solid #FFFFFF;
}

.headliner p{
  text-align: center;
  font-size: 2.5em;
  padding: 50px 0;
/*  padding: 50px 25px;
*/}

.learn,
.build{
  background-color: #f2f2f2;
}

.section{
  text-align: center;
  padding-bottom: 40px;
}

.section-headline{
  font-family: "ff-good-headline-web-pro-con", "Arial Narrow", Arial, sans-serif;
  font-size: 5em;
  text-align: center;
  color: #000;
  margin-bottom:0;
}
.section-subhead{
  font-size: 2em;
}
.side-img{
  float: left;
  padding-right: 20px;
}
.row-cols{
  padding-top: 60px;
}
.section-content{
  font-size: 1.5em;
  text-align: left;

}
.viz-title{
  height: 80px;
}
.viz-content{
  min-height: 220px;
}
.explore{

}
.btn-xl{
  font-family: "ff-good-headline-web-pro-con", "Arial Narrow", Arial, sans-serif;
  background-color: #dda037;
  border-radius: 3px;
  color: #FFFFFF;
  font-size: 3em;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;

}
.btn-view{
  font-family: "ff-good-headline-web-pro-con", "Arial Narrow", Arial, sans-serif;
  background-color: #dda037;
  border-radius: 3px;
  color: #FFFFFF;
  font-size: 1.75em;
  padding-top: 10px;
  padding-bottom: 10px;
}
.btn-view-gray{
  font-family: "ff-good-headline-web-pro-con", "Arial Narrow", Arial, sans-serif;
  background-color: #c1c1c1;
  border-radius: 3px;
  color: #FFFFFF;
  font-size: 1.75em;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 50%;
  margin: 0 auto;  
}
.btn-view-col{
  font-family: "ff-good-headline-web-pro-con", "Arial Narrow", Arial, sans-serif;
  background-color: #c1c1c1;
  border-radius: 3px;
  color: #FFFFFF;
  font-size: 1.5em;
  padding-top: 10px;
  padding-bottom: 10px;
}
.btn-nav{
  font-family: "ff-good-headline-web-pro-con", "Arial Narrow", Arial, sans-serif;
  background-color: #dda037;
  border-radius: 3px;
  color: #FFFFFF;
  padding: 5px 10px;
  font-size: 1.5em;
}


/*
.build{
  background-color: #f2f2f2;
}
*/


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1000px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
