<div class="content-wrapper">


   
     <div class="nav row section-bar " id="sticky" data-spy="affix" ui-scrollfix="+0">
      <div class="container bar-wrapper">
       
         <div class="col-md-4 sub-bar" ><a ng-click="scrollTo('learn')"   aria-controls="learn"><div class="press-me">Learn</div></a></div>
         <div class="col-md-4 sub-bar sub-bar-center" ><a ng-click="scrollTo('explore')"  aria-controls="explore" ><div class="press-me">Explore</div></a></div>
         <div class="col-md-4 sub-bar"><a ng-click="scrollTo('build')"  aria-controls="build" ><div class="press-me">Build</div></a></div>
       </div>
     </div>
  
  <div class="row headliner"> 
     <div class="container">
          <p>Welcome to MassData, the new Commonwealth open data website. We believe that the public good is served through transparency and open access. By being responsible custodians of open public data in Massachusetts, we can meet the ideal of data by the people, for the people.<br />
          <br />
          Keep up with the latest data news at the Commonwealth by following <a href="http://www.twitter.com/MassData" target="_blank"><strong>@MassData</strong></a> on Twitter.
          </p>
      </div>
  </div>
 
  <div class="row section learn" id="learn">
    <div class="container">
      <div class="row">
         <h2 class="section-headline">LEARN</h2>
         <div class="caption section_caption">
        About open data and the MassData initiative
         </div>
         <p class="section-subhead">
           MassData is intended to be a "one-stop shop" that provides easy access to already available, open data. MassData highlights the Commonwealth's commitment to transparency in government. Through the open data portal, we centralize data from a number of state agencies, as well as municipal data from three cities: Boston, Somerville, and Cambridge.
         </p>
      </div> 
      <hr>

      <div class="row">
       <div class="col-md-8">
        <iframe class="video" src="https://www.youtube.com/embed/NSsdS7IAt6o" frameborder="0" allowfullscreen></iframe>
       </div>
       <div class="col-md-4">
        <h3 class="featured_item">
          PUTTING TECHNOLOGY TO WORK
        </h3>
        <p class="section-content">
          The MassData initiative serves to increase public awareness of and access to government data, enhance government transparency and accountability, and encourage economic development and civic engagement.
        </p>
       </div>
      </div>  
       <div class="row row-cols">
           <div class="col-md-4">
             <i class="fa fa-database fa-4x"></i>
             <h3>UNLOCKING OPPORTUNITY</h3>
             <hr>
             <p class="section-content col-1">
               MassData is a place for research, visualization and the exploration of existing public data sets in the Commonwealth. Providing easy, user-friendly access to open data is a conerstone of the Commonwealth's digital strategy for driving innovation. <br />
               </br>
               By consolidating and publishing open state and local data, government can help technologists, businesses and residents develop new solutions that support and catalyze the work of state government.
             </p>
           </div>
           <div class="col-md-4">
             <i class="fa fa-shield fa-4x"></i>
             <h3>OPEN DATA & PRIVACY</h3>
             <hr>
             <p class="section-content col-1">By definition, open data is data that is not considered private, secure, or confidential, and that is not protected by law.<br />
              <br />
            The Commonwealth protects personal, confidential and other private data, ensuring that such protected data not be released in violation of applicable legal constraints or the public interest.
            </p>
           </div>
           <div class="col-md-4">
             <i class="fa fa-building fa-4x"></i>
             <h3>FEDERATED CITIES</h3>
             <hr>
             <p class="section-content col-1">
              The Federated Cities Partnership is a first-of-its-kind collaboration with the state and the three cities of Boston, Cambridge, and Somerville.<br />
              <br />
              This working partnership signals a new era of collaboration between state and municipal government. It does not replace any state or municipal open data efforts; rather it supports and builds upon open data use across political boundaries.</p>
           </div>
       </div> 
    </div>   
  </div>
    


  <div class="row section explore" id="explore">
    <div class="container">
      <div class="row">
         <h2 class="section-headline">Explore</h2>
         <div class="caption section_caption">
            Our gallery of app & data visualizations
         </div>
         <p class="section-subhead">
           MassData is a place for research, visualization, and exploration of existing public data sets in the Commonwealth. In this section, you’ll find a variety of visualizations, maps, charts, graphs, and other ways to explore and interact with open data from state agencies and municipalities.
         </p>
      </div> 
      <hr class="section-break">

      <div class="row">
       <div class="col-md-8">
        <img class="side-img" src="http://placehold.it/600x400/c1c1c1.png&text=Visualization" alt="">
        </div>
        <div class="col-md-4">
        <h3 class="featured_item">
          Major map
        </h3>
        <div class="caption item_caption">
          by Sienna Svob
        </div>
        <p class="section-content">
          Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur.
        </p>
        <a class="btn-view" href="#/">VIEW VISUALIZATION</a>
       </div>
      </div>  
       <div class="row row-cols">
           <div class="col-md-4">
             <img class="" src="http://placehold.it/300x200/c1c1c1.png&text=Small Vis" alt="">
           <div class="viz-title-1">
             <h3>Map 2</h3>
             <div class="caption item_caption">by Sienna Svob</div>
           </div>
             <hr>
             <p class="section-content viz-content-1">
              Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur.
             </p>
             <a class="btn-view-col" href="#/">VIEW VISUALIZATION</a>
           </div>
           <div class="col-md-4">
             <img class="" src="http://placehold.it/300x200/c1c1c1.png&text=Small Vis" alt="">
           <div class="viz-title-1">  
             <h3>Pothole Requests Across the State</h3>
             <div class="caption item_caption">by Mariko Davidson</div>
           </div>  
             <hr>
             <p class="section-content viz-content-1">
               See how the snow impacted our neighborhoods and spurred more pothole service requests across the state.  
             </p>
             <a class="btn-view-col" href="#/">VIEW VISUALIZATION</a>
           </div>
           <div class="col-md-4">
             <img class="" src="http://placehold.it/300x200/c1c1c1.png&text=Small Vis" alt="">
           <div class="viz-title-1">  
             <h3>Map 3</h3>
             <div class="caption item_caption">by Sienna Svob</div>
           </div>  
             <hr>
             <p class="section-content viz-content-1">
               Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur.
             </p>
             <a class="btn-view-col" href="#/">VIEW VISUALIZATION</a>
           </div>
       </div>
       <div class="row row-cols">
           <div class="col-md-4">
             <img class="" src="http://placehold.it/300x200/c1c1c1.png&text=Small Vis" alt="">
            <div class="viz-title-2">
             <h3>RateMyFosterHome</h3>
             <div class="caption item_caption">Made at CodeAcross 2015</div>
            </div>
             <hr>
             <p class="section-content viz-content-2">
              Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur.
             </p>
             <!-- <a href="http://www.ratemyfosterhome.com/" target="_blank"><div class="btn-view-col">VIEW APP</div></a> -->
             <a class="btn-view-col" href="http://www.ratemyfosterhome.com/" target="_blank">VIEW APP</a>
           </div>
           <div class="col-md-4">
             <img class="" src="http://placehold.it/300x200/c1c1c1.png&text=Small Vis" alt="">
            <div class="viz-title-2">
             <h3>MBTA.Ninja</h3>
             <div class="caption item_caption">Made at CodeAcross 2015</div>
            </div>
             <hr>
             <p class="section-content viz-content-2">
               Built in the wake of February 2015's histoic snowfall in Boston, MBTA.ninja lets T riders share train delays to gain a crowdsourced picture of transit timing.  
             </p>
             <!-- <a href="http://www.mbta.ninja" target="_blank"><div class="btn-view-col">VIEW APP</div></a> -->
             <a class="btn-view-col" href="http://www.mbta.ninja" target="_blank">VIEW APP</a>
           </div>
           <div class="col-md-4">
             <img class="" src="http://placehold.it/300x200/c1c1c1.png&text=Small Vis" alt="">
            <div class="viz-title-2">
             <h3>T311.us</h3>
             <div class="caption item_caption">Made at CodeAcross 2015</div>
            </div>
             <hr>
             <p class="section-content viz-content-2">
               T311.us (pronounced "Tell us) uses Somerville 311 data to create a dashboard of work requests and their status.
             </p>
             <!-- <a href="https://github.com/codeforboston/tellus" target="_blank"><div class="btn-view-col">VIEW CODE</div></a> -->
             <a class="btn-view-col" href="https://github.com/codeforboston/tellus" target="_blank">VIEW CODE</a>
           </div>
       </div>
   </div>   
  </div>

  <div class="row section build" id="build">
    <div class="container">
      <div class="row">
         <h2 class="section-headline">Build</h2>
         <div class="caption section_caption">Start using state and municipal open data today</div>
         <p class="section-subhead">
            MassData uses the Socrata platform to host it's data. Socrata's platform is designed to be user-friendly for non-experts, with the goal of providing plenty of opportunity to "play" and "explore" how to use data.  This data storytelling provides a way for non-experts to "dip their toe" into the world of open data.
         </p>
      </div>
      <hr class="section-break">
      <div class="row">
        <h3 class="featured_item">JUMP INTO THE DATA CATALOG</h3>
        <p class="section-subhead">
          Check out available open data and begin unlocking opportunities here. For developers, check out the links to API documentation.
        </p>
        <a href="http://www.mass.gov/data/portal" class="btn-xl">GO TO SOCRATA PORTAL</a>
        <a href="http://dev.socrata.com/" target="_blank" class="btn-view-gray">VIEW SOCRATA API DOCUMENTATION</a>
      </div>
      <div class="row row-cols">
           <div class="col-md-4">
             <a href="http://dev.socrata.com/consumers/getting-started.html" target="_blank"><img class="thumb_img" src="images/tutorial_img.png" alt="Tutorial: Get started with the SODA API"></a>
            <div class="viz-title-3">
             <h3>Get started with the SODA API</h3>
             <div class="caption item_caption">by Socrata</div>
            </div>
             <hr>
             <p class="section-content viz-content-3">
               Unfamiliar with Socrata's SODA API? Start working with Massachusetts data today with this tutorial.
             </p>
             <!-- <a href="http://dev.socrata.com/consumers/getting-started.html" target="_blank"><div class="btn-view-col">VIEW TUTORIAL</div></a> -->
             <a class="btn btn-view-col" href="http://dev.socrata.com/consumers/getting-started.html" target="_blank">VIEW TUTORIAL</a> 
           </div>
           <div class="col-md-4">
             <a href="http://dev.socrata.com/consumers/examples/animated-heatmap.html" target="_blank"><img class="thumb_img" src="images/tutorial_img.png" alt="Tutorial: Create an animated heatmap"></a>
            <div class="viz-title-3">
             <h3>Create an animated heatmap</h3>
             <div class="caption item_caption">by Socrata</div>
            </div>
             <hr>
             <p class="section-content viz-content-3">
              Learn how to create an animated heatmap visualization of Massachusetts data using Socrata and Heatmap.js
             </p>
             <!-- <a href="http://dev.socrata.com/consumers/examples/animated-heatmap.html" target="_blank"><div class="btn-view-col">VIEW TUTORIAL</div></a> -->
             <a class="btn btn-view-col" href="http://dev.socrata.com/consumers/examples/animated-heatmap.html" target="_blank">VIEW TUTORIAL</a>
           </div>
           <div class="col-md-4">
             <a href="http://dev.socrata.com/odata/index.html" target="blank"><img class="thumb_img" src="images/tutorial_img.png" alt="Tutorial: Analyze open data with Microsoft Excel"></a>
            <div class="viz-title-3">
             <h3>Analye open data in Microsoft Excel®</h3>
             <div class="caption item_caption">by Socrata</div> 
            </div>
             <hr>            
             <p class="section-content viz-content-3">
               Learn how to import and work with Massachusetts data in Microsoft Excel using OData feeds from Socrata
             </p>
             <!-- <a href="http://dev.socrata.com/odata/index.html" target="blank"><div class="btn-view-col">VIEW TUTORIAL</div></a> -->
             <a class="btn btn-view-col" href="http://dev.socrata.com/odata/index.html" target="blank">VIEW TUTORIAL</a>
           </div>
       </div>
     </div>
  </div>
    
  <div class="row section request" id="request">
    <div class="container">
      <div class="row">
      <h3>REQUEST A DATASET</h3>
      <h4>To request a dataset that you cannot find on the portal, <a href="" title="">please fill out this form</a> and we will contact you shortly.</h4>

    </div>
  </div>
</div>