<div class="content-wrapper">


  <div data-spy="affix" data-offset-top="450">
     <div class="row section-bar" >
       <div class="container bar-wrapper">
         <div class="col-md-4 sub-bar">Learn</div>
         <div class="col-md-4 sub-bar sub-bar-center">Explore</div>
         <div class="col-md-4 sub-bar">Build</div>
       </div>
     </div>
  </div>   
  <div class="row headliner">
      <p>Welcome to MassData, the new Commonwealth open data website. Intended to be a "one-stop shop" that provides easy access to already-available, open data MassData highlights the Commonwealth's commitment to transparency in government.</p>
  </div>

  <div class="row learn">
    <div class="row">
      <h1>LEARN</h1>
      <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
      </p>
    </div>  

    <div class="row">
      <h4>Angular</h4>
      <p>
    AngularJS is a toolset for building the framework most suited to your application development.
      </p>
    </div>  
    <div class="row">
         <div class="col-md-4"></div>
         <div class="col-md-4"></div>
         <div class="col-md-4"></div>
    </div>  
  </div>
    


  <div class="row explore">
      <div class="row">
         <h1>Explore</h1>
         <p>
            HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
         </p>
      </div>
      <div class="row">
         <h4>Angular</h4>
         <p>
            AngularJS is a toolset for building the framework most suited to your     application development.
         </p>
      </div>
      <div class="row">
         <div class="col-md-4"></div>
         <div class="col-md-4"></div>
         <div class="col-md-4"></div>
      </div>
  </div>
  <div class="row build">
      <div class="row">
         <h1>Build</h1>
         <p>
            HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
         </p>
      </div>
      <div class="row">
         <h4>Angular</h4>
         <p>
            AngularJS is a toolset for building the framework most suited to your     application development.
         </p>
      </div>
      <div class="row">
         <div class="col-md-4"></div>
         <div class="col-md-4"></div>
         <div class="col-md-4"></div>
      </div>
  </div>
    
    <div class="row footer">
      <h4>HTML5 Boilerplate</h4>
      <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
      </p>

      <h4>Angular</h4>
      <p>
    AngularJS is a toolset for building the framework most suited to your application development.
      </p>

      <h4>Karma</h4>
      <p>Spectacular Test Runner for JavaScript.
       <br>
       <br>
       <br>

       <br>
       v
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>

       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
      </p>
  </div>
</div>