<div class="content-wrapper">


  <div data-spy="affix" data-offset-top="450">
     <div class="row section-bar" ng-controller="NavCtrl">
      <div class="container bar-wrapper">
       
         <div class="col-md-4 sub-bar" ng-class="navClass('learn')"><a  href="#/learn"  aria-controls="learn"><div class="press-me">Learn</div></a></div>
         <div class="col-md-4 sub-bar sub-bar-center" ng-class="navClass('explore')"><a data-target="#/explore" href=""  aria-controls="explore" ><div class="press-me">Explore</div></a></div>
         <div class="col-md-4 sub-bar" ng-class="navClass('build')"><a data-target="#/build" href=""  aria-controls="build" ><div class="press-me">Build</div></a></div>
       </div>
     </div>
  </div> 
  <div class="row headliner"> 
     <div class="container">
          <p>Welcome to MassData, the new Commonwealth open data website. Intended to be a "one-stop shop" that provides easy access to already-available, open data MassData highlights the Commonwealth's commitment to transparency in government.</p>
      </div>
  </div>
 
  <div class="row section learn" id="learn">
    <div class="container">
      <div class="row">
         <h2 class="section-headline">LEARN</h2>
         <h3 class="caption section_caption">
        About open data and the MassData initiative
         </h3>
         <p class="section-subhead">
           The Commonwealth has a lot of open data, but it is difficult to find and most people have no idea what is already available.

           MassData includes state-level data from a number of participating agencies, as well as municipal data from three cities: Boston, Somerville, and Cambridge.
         </p>
      </div> 
      <hr>

      <div class="row">
       <div class="col-md-8">
        <img class="side-img" src="http://placehold.it/600x400/c1c1c1.png&text=portal image" alt="">
       </div>
       <div class="col-md-4">
        <h3>
          PUTTING TECHNOLOGY TO WORK
        </h3>
        <p class="section-content">
          The MassData initiative serves to increase public awareness of and access to government data, enhance government transparency and accountability, and encourage economic development and civic engagement.
        </p>
       </div>
      </div>  
       <div class="row row-cols">
           <div class="col-md-4">
             <i class="fa fa-database fa-4x"></i>
             <h3>UNLOCKING OPPORTUNITY</h3>
             <hr>
             <p class="section-content col-1">
               MassData is a place for research, visualization and the exploration of existing public data sets in the Commonwealth.  By Providing easy, user-friendly access to open data is a conerstone of the Commonwealth's digital strategy for driving innovation.
               </br>
               By consolidating and publishing open state and local data, government can help technologists, businesses and residents develop new solutions that support and catalyze the work of state government.
             </p>
           </div>
           <div class="col-md-4">
             <i class="fa fa-shield fa-4x"></i>
             <h3>OPEN DATA & PRIVACY</h3>
             <hr>
             <p class="section-content col-1"></p>
           </div>
           <div class="col-md-4">
             <i class="fa fa-building fa-4x"></i>
             <h3>FEDERATED CITIES</h3>
             <hr>
             <p class="section-content col-1"></p>
           </div>
       </div> 
    </div>   
  </div>
    


  <div class="row section explore" id="explore">
    <div class="container">
      <div class="row">
         <h2 class="section-headline">Explore</h2>
         <div class="caption section_caption">
            Our gallery of data visualizations
         </h2>
         <p class="section-subhead">
           MassData is a place for research, visualization and exploration of existing public data sets in the Commonwealth. In this section, you will find a variety of visualization, maps, charts, graphs, and other ways to explore and interact with open data from state agencies and municipalities.
         </p>
      </div> 
      <hr class="section-break">

      <div class="row">
       <div class="col-md-8">
        <img class="side-img" src="http://placehold.it/600x400/c1c1c1.png&text=Visualization" alt="">
        </div>
        <div class="col-md-4">
        <h3>
          VISUALIZATION NAME
        </h3>
        <div class="caption item_caption">
          by Author Name
        </div>
        <p class="section-content">
          Commonwealth Connect data comes from the open 311 requests filled by citizens across the state using the Citizens' and Commonwealth Connect mobile apps.
        </p>
        <a href="#"><div class="btn-view">VIEW VISUALIZATION</div></a>
       </div>
      </div>  
       <div class="row row-cols">
           <div class="col-md-4">
             <img class="" src="http://placehold.it/300x200/c1c1c1.png&text=Small Vis" alt="">
             <h3>Visualization Title</h3>
             <div class="caption item_caption">by Author Name</div>
             <hr>
             <p class="section-content viz-content">
               MassData is a place for research, visualization and the exploration of existing public data sets in the Commonwealth.  By Providing easy, user-friendly access to open data is a conerstone of the Commonwealth's digital strategy for driving innovation.
             </p>
             <a href="#"><div class="btn-view-col">VIEW VISUALIZATION</div></a>
           </div>
           <div class="col-md-4">
             <img class="" src="http://placehold.it/300x200/c1c1c1.png&text=Small Vis" alt="">
             <h3>Visualization Title</h3>
             <div class="caption item_caption">by Author Name</div>
             <hr>
             <p class="section-content viz-content">
               MassData is a place for research, visualization and the exploration of existing public data sets in the Commonwealth.  By Providing easy, 
             </p>
             <a href="#"><div class="btn-view-col">VIEW VISUALIZATION</div></a>
           </div>
           <div class="col-md-4">
             <img class="" src="http://placehold.it/300x200/c1c1c1.png&text=Small Vis" alt="">
             <h3>Visualization Title</h3>
             <div class="caption item_caption">by Author Name</div>
             <hr>
             <p class="section-content viz-content">
               MassData is a place for research, visualization and the exploration of existing public data sets in the Commonwealth.  By Providing easy, user-friendly access to open data is a conerstone of the Commonwealth's digital strategy for driving innovation.
             </p>
             <a href="#"><div class="btn-view-col">VIEW VISUALIZATION</div></a>
           </div>
       </div>
   </div>   
  </div>

  <div class="row section build" id="build">
    <div class="container">
      <div class="row">
         <h2 class="section-headline">Build</h2>
         <div class="caption section_caption">Start using state and municipal open data today</div>
         <p class="section-subhead">
            MassData uses the Socrata platform to host it's data. Socrata's platform is designed to be user-friendly for non-experts, with the goal of providing plenty of opportunity to "play" and "explore" how to use data.  This data storytelling provides a way for non-experts to "dip their toe" into the world of open data.
         </p>
      </div>
      <hr class="section-break">
      <div class="row">
        <h2>JUMP INTO THE DATA CATALOG</h2>
        <p class="section-subhead">
          Check out available open data and begin unlocking opportunities here. For developers, check out the links to API documentation.
        </p>
        <a href="#"><div class="btn-xl">GO TO SOCRATA PORTAL</div></a>
        <a href="#"><div class="btn-view-gray">VIEW SOCRATA API DOCUMENTATION</div></a>
      </div>
      <div class="row row-cols">
           <div class="col-md-4">
             <img class="" src="http://placehold.it/300x200/c1c1c1.png&text=Small Vis" alt="">
            <div class="viz-title">
             <h3>CREATE A CALENDAR</h3>
             <div class="caption item_caption">by Socrata University</div>
            </div>
             <hr>
             <p class="section-content viz-content">
               MassData is a place for research, visualization and the exploration of existing public data sets in the Commonwealth.  By Providing easy, user-friendly access to open data is a conerstone of the Commonwealth's digital strategy for driving innovation.
             </p>
             <a href="#"><div class="btn-view-col">VIEW TRAINING</div></a>
           </div>
           <div class="col-md-4">
             <img class="" src="http://placehold.it/300x200/c1c1c1.png&text=Small Vis" alt="">
            <div class="viz-title">
             <h3>VISUALIZE A DATA ROLL-UP ACROSS MANY COLUMNS</h3>
             <div class="caption item_caption">by Socrata University</div>
            </div>
             <hr>
             <p class="section-content viz-content">
               
             </p>
             <a href="#"><div class="btn-view-col">VIEW TRAINING</div></a>
           </div>
           <div class="col-md-4">
             <img class="" src="http://placehold.it/300x200/c1c1c1.png&text=Small Vis" alt="">
            <div class="viz-title">
             <h3>CREATING A MAP</h3>
             <div class="caption item_caption">by Socrata University</div> 
            </div>
             <hr>            
             <p class="section-content viz-content">
               
             </p>
             <a href="#"><div class="btn-view-col">VIEW TRAINING</div></a>
           </div>
       </div>
     </div>
  </div>
    
  <div class="row section request" id="request">
    <div class="container">
      <div class="row">
      <h3>REQUEST A DATASET</h3>
      <h4>To request a dataset that you cannot find on the portal, <a href="" title="">please fill out this form</a> and we will contact you shortly.</h4>

    </div>
  </div>
</div>